#knownCities {
    margin-top: 20px;;
}

#cityInput {

    width: 75%;

}

.fa-search {
    width: 30px;
    height: 30px;
    float: right;
}

.card {

    width: 18%;
    float: left;
    margin-right: 2%;
    padding : 10px;

}


img {

    width: 50px;

}

#low {

    background-color: green ;

}

#moderate {

    background-color:yellow ;

}

#high {

    background-color: orange ;

}

#very-high {

    background-color: red ;

}

#extreme {

    background-color: purple ;

}